[Desktop Entry]
Exec=konsole -e "sh -c 'curl -sSL https://raw.githubusercontent.com/cryptoluks/deck-tailscale/main/tailscale.sh | sudo bash; sleep 30'"
Type=Application
