[Desktop Entry]
Exec=konsole -e "sh -c 'curl -L https://raw.githubusercontent.com/cryptoluks/deck-tailscale/main/tailscale.sh | sudo bash'"
Type=Application
